USE [quanlyoto]
GO
/****** Object:  Table [dbo].[BAOCAOTON]    Script Date: 11/05/2019 16:36:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOCAOTON](
	[MaBaoCaoTon] [nchar](10) NOT NULL,
	[MaThoiGian] [nchar](10) NOT NULL,
	[MaLoaiVatTu] [nchar](10) NOT NULL,
	[TonDau] [nchar](10) NOT NULL,
	[TonCuoi] [nchar](10) NOT NULL,
	[PhatSinh] [nchar](10) NOT NULL,
 CONSTRAINT [PK_BAOCAOTON] PRIMARY KEY CLUSTERED 
(
	[MaBaoCaoTon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETPHIEUXUAT]    Script Date: 11/05/2019 16:36:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUXUAT](
	[MaChiTietPhieuXuat] [int] NOT NULL,
	[MaPhieuXuat] [int] NOT NULL,
	[MaLoaiVatTu] [nchar](10) NOT NULL,
	[NoiDung] [text] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [money] NOT NULL,
	[MaLoaiTienCong] [nchar](10) NOT NULL,
	[MaTienNo] [nchar](10) NOT NULL,
 CONSTRAINT [PK_CHITIETPHIEUXUAT] PRIMARY KEY CLUSTERED 
(
	[MaChiTietPhieuXuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANHSACHXE]    Script Date: 11/05/2019 16:36:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DANHSACHXE](
	[MaXe] [char](10) NOT NULL,
	[MaHoSo] [char](10) NOT NULL,
	[BienSo] [char](20) NOT NULL,
	[HieuXe] [varchar](30) NOT NULL,
	[TenChuXe] [varchar](30) NOT NULL,
	[MaTienNo] [nchar](10) NOT NULL,
 CONSTRAINT [PK_DANHSACHXE] PRIMARY KEY CLUSTERED 
(
	[MaXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DOANHSO]    Script Date: 11/05/2019 16:36:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOANHSO](
	[MaBaoCaoDoanhSo] [nchar](10) NOT NULL,
	[MaThoiGian] [nchar](10) NOT NULL,
	[TongDoanhThu] [nchar](10) NOT NULL,
	[MaHieuXe] [int] NOT NULL,
	[SoLuotSua] [nchar](10) NOT NULL,
	[ThanhTien] [nchar](10) NOT NULL,
	[TiLe] [nchar](10) NOT NULL,
 CONSTRAINT [PK_DOANHSO] PRIMARY KEY CLUSTERED 
(
	[MaBaoCaoDoanhSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HIEUXE]    Script Date: 11/05/2019 16:36:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HIEUXE](
	[MaHieuXe] [int] NOT NULL,
	[HieuXe] [varchar](30) NOT NULL,
 CONSTRAINT [PK_HIEUXE] PRIMARY KEY CLUSTERED 
(
	[MaHieuXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOSO]    Script Date: 11/05/2019 16:36:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOSO](
	[MaHoSo] [char](10) NOT NULL,
	[TenChuXe] [varchar](30) NOT NULL,
	[DiaChi] [varchar](50) NOT NULL,
	[BienSo] [char](20) NOT NULL,
	[DienThoai] [int] NOT NULL,
	[MaHieuXe] [int] NOT NULL,
	[NgayTiepNhan] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_HOSO] PRIMARY KEY CLUSTERED 
(
	[MaHoSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAITIENCONG]    Script Date: 11/05/2019 16:36:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAITIENCONG](
	[MaLoaiTienCong] [nchar](10) NOT NULL,
	[TenLoaiTienCong] [text] NOT NULL,
	[TienCong] [money] NOT NULL,
 CONSTRAINT [PK_LOAITIENCONG] PRIMARY KEY CLUSTERED 
(
	[MaLoaiTienCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIVATTU]    Script Date: 11/05/2019 16:36:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIVATTU](
	[MaLoaiVatTu] [nchar](10) NOT NULL,
	[TenLoaiVatTu] [nchar](40) NOT NULL,
	[SoLuongTon] [int] NOT NULL,
 CONSTRAINT [PK_LOAIVATTU] PRIMARY KEY CLUSTERED 
(
	[MaLoaiVatTu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUTHUTIEN]    Script Date: 11/05/2019 16:36:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUTHUTIEN](
	[MaPhieuThu] [nchar](10) NOT NULL,
	[HoTenChuXe] [nchar](10) NOT NULL,
	[BienSo] [nchar](10) NOT NULL,
	[DienThoai] [numeric](18, 0) NOT NULL,
	[Email] [nchar](10) NOT NULL,
	[NgayThu] [smalldatetime] NOT NULL,
	[TienThu] [numeric](18, 0) NOT NULL,
	[MaHoSo] [char](10) NOT NULL,
 CONSTRAINT [PK_PHIEUTHUTIEN] PRIMARY KEY CLUSTERED 
(
	[MaPhieuThu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUXUAT]    Script Date: 11/05/2019 16:36:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUXUAT](
	[MaPhieuXuat] [int] NOT NULL,
	[NgayLapPhieu] [smalldatetime] NOT NULL,
	[MaHoSo] [int] NOT NULL,
	[TongTriGia] [money] NOT NULL,
 CONSTRAINT [PK_PHIEUXUAT] PRIMARY KEY CLUSTERED 
(
	[MaPhieuXuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THAMSO]    Script Date: 11/05/2019 16:36:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THAMSO](
	[SoLuongSuaChuaToiDa] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THOIGIAN]    Script Date: 11/05/2019 16:36:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THOIGIAN](
	[MaThoiGian] [nchar](10) NOT NULL,
	[ThangNam] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_THOIGIAN] PRIMARY KEY CLUSTERED 
(
	[MaThoiGian] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TIENNO]    Script Date: 11/05/2019 16:36:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIENNO](
	[MaTienNo] [nchar](10) NOT NULL,
	[MaChiTietPhieuXuat] [int] NOT NULL,
	[ThanhTien] [money] NOT NULL,
 CONSTRAINT [PK_TIENNO] PRIMARY KEY CLUSTERED 
(
	[MaTienNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[BAOCAOTON]  WITH CHECK ADD  CONSTRAINT [FK_BAOCAOTON_LOAIVATTU] FOREIGN KEY([MaLoaiVatTu])
REFERENCES [dbo].[LOAIVATTU] ([MaLoaiVatTu])
GO
ALTER TABLE [dbo].[BAOCAOTON] CHECK CONSTRAINT [FK_BAOCAOTON_LOAIVATTU]
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUAT.]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUXUAT._LOAITIENCONG] FOREIGN KEY([MaLoaiTienCong])
REFERENCES [dbo].[LOAITIENCONG] ([MaLoaiTienCong])
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUAT.] CHECK CONSTRAINT [FK_CHITIETPHIEUXUAT._LOAITIENCONG]
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUAT.]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUXUAT._LOAIVATTU] FOREIGN KEY([MaLoaiVatTu])
REFERENCES [dbo].[LOAIVATTU] ([MaLoaiVatTu])
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUAT.] CHECK CONSTRAINT [FK_CHITIETPHIEUXUAT._LOAIVATTU]
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUAT.]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUXUAT._TIENNO] FOREIGN KEY([MaTienNo])
REFERENCES [dbo].[TIENNO] ([MaTienNo])
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUAT.] CHECK CONSTRAINT [FK_CHITIETPHIEUXUAT._TIENNO]
GO
ALTER TABLE [dbo].[DANHSACHXE.]  WITH CHECK ADD  CONSTRAINT [FK_DANHSACHXE._HOSO] FOREIGN KEY([MaHoSo])
REFERENCES [dbo].[HOSO] ([MaHoSo])
GO
ALTER TABLE [dbo].[DANHSACHXE.] CHECK CONSTRAINT [FK_DANHSACHXE._HOSO]
GO
ALTER TABLE [dbo].[DOANHSO]  WITH CHECK ADD  CONSTRAINT [FK_DOANHSO_HIEUXE] FOREIGN KEY([MaHieuXe])
REFERENCES [dbo].[HIEUXE] ([MaHieuXe])
GO
ALTER TABLE [dbo].[DOANHSO] CHECK CONSTRAINT [FK_DOANHSO_HIEUXE]
GO
ALTER TABLE [dbo].[HOSO]  WITH CHECK ADD  CONSTRAINT [FK_HOSO_HIEUXE] FOREIGN KEY([MaHieuXe])
REFERENCES [dbo].[HIEUXE] ([MaHieuXe])
GO
ALTER TABLE [dbo].[HOSO] CHECK CONSTRAINT [FK_HOSO_HIEUXE]
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHUTIEN_HOSO] FOREIGN KEY([MaHoSo])
REFERENCES [dbo].[HOSO] ([MaHoSo])
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN] CHECK CONSTRAINT [FK_PHIEUTHUTIEN_HOSO]
GO
--ALTER TABLE [dbo].[HIEUXE] DROP CONSTRAINT [CHECK_SLHIEUXE] 
--ALTER TABLE [dbo].[HIEUXE] ADD CONSTRAINT [CHECK_SLHIEUXE] CHECK ([MaHieuXe]<=10)